<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Squirtinator Remote</title>
    <meta name="description" content="Remote controls for your Squirtinator" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/assets/index.css" />
  </head>
  <body>
    <script src="/assets/htmx.min.js"></script>
    <h1 id="site-title">Squirtinator Remote</h1>
    <main id="remote" aria-labelledby="site-title">
      <button id="now-button" hx-post="/api/activate" hx-swap="none">
        NOW
      </button>
      <button id="auto-button" role="switch" aria-checked="false">AUTO</button>
      <a id="settings-link" class="nav-button" href="/settings">
        <span>SETTINGS</span>
        <svg
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          fill="currentColor"
          class="bi bi-chevron-compact-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671"
          />
        </svg>
      </a>
      <div id="addr-info" hx-get="/api/addr" hx-trigger="load"></div>
    </main>
  </body>
</html>
