<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Squirtinator Settings</title>
    <meta name="description" content="Settings for your Squirtinator" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/assets/index.css" />
  </head>
  <body>
    <script src="/assets/htmx.min.js"></script>
    <script src="/assets/index.js"></script>
    <h1 id="site-title">Squirtinator Settings</h1>
    <main id="settings" aria-labelledby="site-title">
      <a id="remote-link" class="nav-button nav-button-back" href="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          fill="currentColor"
          class="bi bi-chevron-compact-left"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223"
          />
        </svg>
        <span>REMOTE</span>
      </a>

      <hr />

      <form
        id="freq-form"
        hx-put="/api/settings/freq"
        hx-on:htmx:load="watchFreqSliders()"
        aria-labelledby="freq-form-heading"
      >
        <h2 id="freq-form-heading">Toy Settings</h2>
        <label for="min-freq-input">Minimum squirt frequency (seconds)</label>
        <span
          id="min-freq-slider"
          class="slider"
          hx-get="/api/min-freq"
          hx-trigger="load"
          hx-target="#min-freq-slider"
        >
          <input id="min-freq-input" type="range" name="min_freq" disabled />
          <span><span id="min-freq-value" class="slider-value">0</span>s</span>
        </span>
        <label for="max-freq-input">Maximum squirt frequency (seconds)</label>
        <span
          id="max-freq-slider"
          class="slider"
          hx-get="/api/max-freq"
          hx-trigger="load"
          hx-target="#max-freq-slider"
        >
          <input id="max-freq-input" type="range" name="max_freq" disabled />
          <span><span id="max-freq-value" class="slider-value">0</span>s</span>
        </span>
        <button type="submit" form="freq-form">SAVE</button>
      </form>

      <hr />

      <form
        id="wifi-form"
        hx-put="/api/settings/wifi"
        hx-target="#wifi-form-confirmation"
        hx-confirm="Are you sure you want to change the WiFi settings?"
        aria-labelledby="wifi-form-heading"
      >
        <h2 id="wifi-form-heading">WiFi Settings</h2>
        <label for="ssid-input">Name (SSID)</label>
        <input
          id="ssid-input"
          name="ssid"
          type="text"
          hx-get="/api/settings/wifi/ssid"
          hx-target="#ssid-input"
          hx-trigger="load"
          hx-swap="outerHTML"
          hx-confirm="unset"
        />
        <label for="password-input">Password</label>
        <input id="password-input" name="password" type="password" />
        <button type="submit" form="wifi-form">SAVE</button>
        <div id="wifi-form-confirmation"></div>
      </form>
    </main>
  </body>
</html>
